{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>As a Driver</title>
    <link rel="stylesheet" href="{% static 'css/styleForm.css' %}">

</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="center">
             <h1 class="heading">Driver Form</h1>  

             {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}{% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
             
             <div class="formContent">
             <form action="{% url 'driverdetails' %}" method="Post">
                {% csrf_token %}
                <label for="uname">Enter Your username</label>
                <input type="text" class="uname" name="uname" required>
                <label for="f_name">Enter Your First name</label>
                <input type="text" class="f_name" name="f_name" required>
                <label for="l_name">Enter Your Last name</label>
                <input type="text" class="l_name"  name="l_name">
                <label for="contact">Contact Number</label>
                <input type="number" class="contact" name="contact" required>
                <label for="email">Enter Your Email</label>
                <input type="email" class="email" name="email" required>
                <label for="pass1">Password</label>
                <input type="Password" class="pass1" name="pass1" required>
                <label for="pass2">Confirm Password</label>
                <input type="Password" class="pass2" name="pass2" required>
                <label for="gender">Gender</label>
                <select name="gender" required>
                    <option value="none" disabled>Select Any one</option>
                    <option value="female">Female</option>
                    <option value="Male">Male</option>
                    <option value="transgender">Transgender</option>
                </select>  
                <label for="dob">Enter Your DOB</label>
                <input type="date" class="dob" name="dob"> 
                <label for="address">Address</label>
                <textarea class="address" name="address" cols="30" rows="5" required></textarea>
                <label for="licenceNo">Licence Number</label>
                <input type="text" class="licenceNo" name="licenceNo" required>
                <label for="vehicleNo">Vehicle Number</label>
                <input type="text" class="vehicleNo" name="vehicleNo" required>
                <label for="vehicleType">Vehicle Type</label>
                <input type="text" class="vehicleType" name="vehicleType" required>
                <button class="submit">Submit</button>
             </form>
            </div>

        </div>
        <div class="right"></div>
    </div>
</body>
</html>